.inscricao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 1000px;
    
}

.inscricao-titulo{
    font-size: 3rem;
    line-height: 0.8;
    margin-bottom: 20px;
}

.inscricao-texto{
    color: #e4e4e4;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.incricao-container{
    padding: 20px;
}

.dados input{
    display: block;
    width: 400px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 2px solid #8844ee;
    padding-left: 20px;
    font-size: 0.8125rem;
    justify-content: center;
    background: #fff;
}

.enviar{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: transparent;
    background-color: #8844ee;
    color: #fff;
    font-weight: bold;
}

.enviar a{
    padding: 45px
}

.enviar:hover{
    background-color: #3F206E;
}

