@media screen and (max-width:900px){
    .cabecalho-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    .cabecalho-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }
    .cabecalho-container h2{
        font-size: 2.25rem;
    }
    .cabecalho-lista{
        display: flex;
        flex-direction: row-center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        
    }
    .incricao-container{
        padding: 20px;
    }
    .inscricao{
        display: flex;
        text-align: center
    }
    .dados{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dados input{
        width: 200px;
    }
    img{
        display: none;
    }
}